#loginform {
  display: grid;
  width: 400px;
  grid-gap: 15px;
  justify-content: center;
  font-family: Georgia, serif, cursive;
}

#loginmodal > h1 {
  text-align: center;
  color: black;
}

#loginmodal {
  background-color: green;
  border-radius: 10px;
}

.loginput {
  width: 300px;
  display: inline-block;
}

#loginsubmitbutton,
#logindemobutton {
  width: 300px;
  margin: 0 auto;
  cursor: pointer;
  padding: 8px 6px;
  text-align: center;
}

#loginsubmitbutton:disabled {
  background-color: gray;
  border: 1px solid gray;
}

#loginsubmitbutton {
  color: white;
  background-color: red;
  border: 1px solid red;
}

#logindemobutton {
  background-color: lightblue;
  border: 1px solid black;
}

.logindemobutton {
  text-decoration: none;
}

#modal-content {
  background-color: green;
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.input-group label {
  margin-bottom: 5px;
}

.input-error {
  color: red;
}

#modal-content {
  border-radius: 10px;
}
