.songDetailwrapper{
  font-family: Georgia, serif, cursive;
  display:flex;
}

.songDetailitem-1{
  position: relative;
  float:inline-start;
  width:270px;
}

.songDetailitem-2{
  position: relative;
  flex:1;
  width:auto;
  margin-top: 15px;
  color:white;
  background-color: #212121;
  border-radius: 6px;
}
