.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

nav {
  font-family: Georgia, serif, cursive;
  color:black;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

#LibraryMenu {
  position: relative;
  float:inline-start;
}
