.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

nav {
  font-family: Georgia, serif, cursive;
  color:black;
  display:flex;
  justify-content: flex-end;
  align-items: center;
}
