.openModalButton{
    color:black;
    background-color: white;
    border-radius: 60px;
    padding: 18px 36px;
    margin-left: 27px;
    margin-top: 1.5vh;
    font-family: "Arial";
    font-weight: bold;
    font-size: 0.9rem;
    line-height: 1;
    cursor: pointer;
}
