.fa-regular, .fa-solid{
    margin-left: 27px;
    margin-top: 3vh;
    margin-right: 15px;
}

#solidheart{
    color:#1ed760;
    font-size:2.1em;
}

#regularheart{
    color:#a7a7a7;
    font-size:2.1em;
}

#regularheart:hover{
    color:white;
    font-size:2.1em;
}

.likediv{
    width: 2.1em;
}
