#albumlinkwithtext {
    text-decoration:none;
    color:white;
}

#albumImage{
    height:200px;
    width:200px;
    border-radius: 6px;
}

#albumgrid1{
    display: grid;
    grid-template-areas:
      "item1"
      "item2";
    grid-template-rows:  200px 1fr;
    grid-template-columns: 220px 1fr;
    /* background-color: #ffff64; */
}


#albumitem1{
    grid-area: item1;
    /* margin-right: 0.5em; */
    /* background-color: #8ca0ff; */
}

#albumitem2 {
    grid-area: item2;
    /* width:200px; */
    /* background-color: #ffa08c; */
}
